[submodule "FlashCards-API"]
	path = FlashCards-API
	url = https://github.com/TheDigitalPhoenixX/FlashCards-API.git
[submodule "masterquiz-backend"]
	path = masterquiz-backend
	url = https://github.com/rameziophobia/masterquiz-backend
[submodule "Spaced-Repetition-Backend"]
	path = Spaced-Repetition-Backend
	url = https://github.com/Zeitverschwender/Spaced-Repetition-Backend
[submodule "expense-tracker-backend"]
	path = expense-tracker-backend
	url = https://github.com/Zeitverschwender/expense-tracker-backend
[submodule "MasterQuiz-Frontend"]
	path = MasterQuiz-Frontend
	url = https://github.com/TheDigitalPhoenixX/MasterQuiz-Frontend
